<link href="//cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
<h1>PlanBetter</h1>
<img src="./assets/images/logo.svg" class="img1">
<h2>
  <button class="button1" >Add Exam</button>
  <button class="button2" >Edit Exam</button>
  <button class="button3" >Delete Exam</button>
  <button class="button4" (click)="router.navigate(['/admincalendar']);">Calendar</button>
  <button class="button5" >Questions</button>
  <button class="button6" >Notifications</button>
  <button class="button7" (click)="router.navigate(['/usermanual']);">Help</button>
  <button class="button8"(click)="router.navigate(['/login']);" >Sign Out</button>
</h2>

<input id="search" type="text" name="search">
<h5>
  {{dateTime|date:'HH:mm:ss'}}
  <br>
  {{dateTime|date :'EEEE, MMMM d, y'}}
  </h5>
  <h6>
    <div class="control-section">
      <div class="col-lg-9 content-wrapper">
        <ejs-schedule #scheduleObj width='100%' height='17%' [selectedDate]="selectedDate"
        (eventRendered)="onEventRendered($event)">
          <e-views>
            <e-view option="Day"></e-view>

          </e-views>
        </ejs-schedule>
      </div>
    </div>
  </h6>
