@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Inter);

.img1{
  /* Logo */
  position: fixed;
  width: 13.5%;
  height: 20%;
  left:8% ;
  top: 0px;
}

h1{
  /* PlanBetter langa logo */
  position: fixed;
  width: 16.9%;
  height: 15%;
  left: 22%;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 77px;
  color: #FFFFFF;
  }
  h2{
    /* Rectangle 2 */
  position: fixed;
  width: 45.5%;
  height: 86%;
  left: 27%;
  top: 13%;
  background: #FFFFFF;
  }

  h3{
    /* Linie */
    position: fixed;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 344.5px;
    border: 1px solid #FFFFFF;
  }

  h4{
    /* Login */
  position: fixed;
  width: 39.7%;
  height: 133px;
  left: 29%;
  top: 15%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  }

  h5{
    /* Create an account and start plan better your exams. */

  position: fixed;
  width:39.7%;
  height: 53px;
  left: 28%;
  top: 24%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
  }


  button{
  /* Property 1=Shadow */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 13.4%;
height: 5%;

top: 25px;

background: #147839;
box-shadow: 0px 4px 8px rgba(20, 120, 57, 0.1);
border-radius: 6px;


/* Button */


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.button1:hover{
  /* Property 2=otlined */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
position: absolute;
width: 13.4%;
height: 5%;
left: 41%; top:83%;
border: 2px solid #147839;
border-radius: 6px;
background: #ffffff;
/* Button */



font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #147839;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.button2:hover{
  /* Property 2=otlined */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
position: absolute;
width: 13.4%;
height: 5%;
left: 41%; top: 90%;
border: 2px solid #147839;
border-radius: 6px;
background: #ffffff;
/* Button */


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */
color: #147839;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
input[type=text], select {
  width: 32%;
  padding: 10px 15px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  position: fixed;
  left: 32%;
}
input[type=password], select {
  width: 32%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  position: fixed;
  left:32%;
  top:520px;
}

.fnamel{
  /* firstname label */
  position: fixed;
  width: 39.7%;

  left: 15.2%;
  top: 29%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 130%;
  font-size:  125%;
  line-height: 24px;
  text-align: center;

  color: #000000;
  }

  .lnamel{
    /* lastname label */
    position: fixed;
    width: 39.7%;

    left: 15.2%;
    top: 38%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 130%;
    font-size:  125%;
    line-height: 24px;
    text-align: center;

    color: #000000;
    }

.emaill{
/* email label */
position: fixed;
width: 39.7%;
left: 13.7%;
top: 47%;

font-family: 'Inter';
font-style: normal;
font-weight: 130%;;
font-size: 125%;
line-height: 24px;
text-align: center;

color: #000000;
}

.passwordl{
/* password label */
position: fixed;
width: 39.7%;
left: 15%;
top: 56%;

font-family: 'Inter';
font-style: normal;
font-weight: 130%;
font-size:  125%;
line-height: 24px;
text-align: center;

color: #000000;
}

.rpasswordl{
  /* password label */
  position: fixed;
  width: 39.7%;
  left: 17%;
  top: 65%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 130%;
  font-size: 125%;
  line-height: 24px;
  text-align: center;

  color: #000000;
  }


.checkboxpos{
  position: fixed;
  left: 36.8%;
  top: 75.5%;
}

.checkboxtxtpos{
  position: fixed;
  width: 39.7%;
height: 53px;
left: 27%;
top: 75%;

font-family: 'Inter';
font-style: normal;
font-weight: 130%;
font-size: 130%;
line-height: 24px;
text-align: center;

color: #000000;
}
.button1{
  position: fixed;left: 41%; top:83%;
}
.button2{
  position: fixed;left: 41%; top: 90%;
}
#fname{
  top:31%;
}
#lname{
  top:40%;
}
#email{
  top:49%;
}
#password{
  top:58%;
}
#rpassword{
  top:67%;
}
@media only screen and (max-width: 600px) {

  h2{
    /* Rectangle 2 */

  width: 100%;
  height: 50%;
left:0%;
  top: 26%;
  }
h4{
  color:white;
  top: 14%;
}
h5{
  color:white;
  width:100%;
  left: 0%;
  top: 19%;
}
.fnamel{
  top:27%;
  left: 13%;
  }
  .lnamel{
    top:35%;
    left: 13%;
    }
    #fname{
      top:29%;

    }
    input[type=text], select {
      width: 70%;
      left: 20%;
    }
    #lname{
      top:37%;
    }
    .emaill{
      top:43%;
      left: 7%;
    }
    #email{
      top:45%;
    }
    .passwordl{
      top:51%;
      left: 12%;
    }
    input[type=password], select {
      width: 70%;
      left:20%;
    }
    #password{
      top:53%;
    }
    .rpasswordl{
      top:59%;
      width: 45%;
    }
    #rpassword{
      top:61%;
    }
    .checkboxpos{

      left: 18%;
      top: 70%;
    }

    .checkboxtxtpos{

      width: 80%;
    left: 19%;
    top: 70%;

    }
    .img1{
top:-6%;
width: 26%;
left:40%;
    }
    h1{
      top: 7%;
      font-size: 45px;
      left:25%;
    }
    button{

    width:60%;

    background: white;
    color:#147839;
}
.button1{
  left: 25%;
  top: 80%;
}
.button2{
  left: 25%;
  top: 87%;
}
.button1:hover{
  left: 25%;
  top: 80%;
  width:60%;
}
.button2:hover{
  left: 25%;
  top: 87%;
  width:60%;
}
h3{
  width: 0%;
}
}
