
<img src="./assets/images/logo.svg" class="img1">
<h1>PlanBetter</h1>
<h2></h2>
  <h3></h3>
  <h4>Set new password</h4>
  <h5> Your new password must be different from the previously used passwords.</h5>

    <label for="password" class="passwordl" >Password</label>
    <input id="password" type="password" name="password">

    <label for="rpassword" class="rpasswordl">Retype Password</label>
    <input id="rpassword" type="rpassword" name="rpassword">

    <button  class="button1" (click)="router.navigate(['/succesnewpassword']);" >Reset password</button>
    <button class="button2" (click)="router.navigate(['/login']);">Back to login</button>



