
<img src="./assets/images/logo.svg" class="img1">
<h1>PlanBetter</h1>

  <h2></h2>
  <h3></h3>
  <h4>Login</h4>
  <h5> Welcome back. Login with your data that you entered during your registration.</h5>

    <form #form="ngForm" [formGroup]="loginDate" (ngSubmit)="LoginForm()">

    <label for="email" class="emaill">Email</label>
    <input id="email" type="text" formControlName="email">

    <label for="password" class="passwordl">Password</label>
    <input id="password" type="password" formControlName="password">

    <input type="checkbox" id="keep" name="keep" value="keeplogin"class="checkboxpos">
    <label for="keep" class="checkboxtxtpos"> Keep me logged in</label><br>

    <button class="button1" (Onclick)="LoginForm();">Login</button>
    <h6>{{mesajeroare}}</h6>

    </form>

    <button class="button2"(click)="router.navigate(['/forgotpassword']);" >Forgot password </button>
    <button class="button3"(click)="router.navigate(['/signup']);" >Sign Up</button>
